<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510642174456-pkgs5hbko6qb67s5e22hr0mjmio1b395.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510642174456-pkgs5hbko6qb67s5e22hr0mjmio1b395</string>
	<key>API_KEY</key>
	<string>AIzaSyBO5ZWIOlcuP49UXgaVcReSAvuc3SLR-Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>510642174456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhph.ADMOB</string>
	<key>PROJECT_ID</key>
	<string>admobtest-9695a</string>
	<key>STORAGE_BUCKET</key>
	<string>admobtest-9695a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510642174456:ios:fb0dd4a9f63ecaa0</string>
	<key>DATABASE_URL</key>
	<string>https://admobtest-9695a.firebaseio.com</string>
</dict>
</plist>